{% extends "base.html" %}
{% load static %}

{% block title %}index{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'login/index.css' %}">
{% endblock styles %}

{% block content %}
    <header>
        <h1>Asklepios</h1>
        <img src="{% static 'login/images/login-logo.png' %}" alt="Medical logo" class="header-logo">
    </header>
    
    <div class="login-buttons">
        <button id="sign-in-button" ><a href="{% url 'login:login' %}">Sign in</a></button>
        <button id="sign-up-button"><a href="{% url 'login:doctors-register' %}">Sign up</a></button>
    </div>

    <footer>
        <p>© 2025 Medical systems</p>
    </footer>
{% endblock content %}