{% extends "base.html" %}
{% load static %}

{% block title %}index{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock styles %}

{% block content %}
    {{ block.super }}
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="{% url 'login:login'%}">Home</a></li>
                <li><a href="{% url 'patients:patients'%}">Patients</a></li>
                <li><a href="{% url 'medications:medications'%}">Medications</a></li>
                <li><a href="{% url 'radiology:radiology'%}">Radiology</a></li>
                <li><a href="{% url 'surgeries:surgeries'%}">Surgeries</a></li>
                <li><a href="{% url 'diagnoses:diagnoses'%}">Diagnoses</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-main-images">
        <img src="{% static 'accounts/images/doctor_patient_bedside.jpg' %}" alt="Doctor patient">
        <img src="{% static 'accounts/images/doctor_patient_conversation.jpg' %}" alt="Doctor patient">
        <img src="{% static 'accounts/images/paramedic_loading_patient.jpg' %}" alt="Doctor patient">
    </div>
        
    <main class="content">
        <div class="main-text">
            <h2>Doctors patient</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae sequi, nesciunt illo asperiores voluptatem quaerat, 
                porro velit magnam, excepturi quisquam corrupti sunt qui repellat. 
                Aliquam ratione sint deleniti commodi vitae.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quisquam eligendi numquam accusamus nam ipsum dignissimos a soluta
                voluptas eveniet, reprehenderit quod aspernatur iste. 
                Excepturi, dolore ab minus iusto nulla officiis!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                In officia eos placeat quos dignissimos possimus fugiat magnam minima
                et quam atque voluptas distinctio consequatur cupiditate,
                minus dolores molestias tempora dicta?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                odit. A voluptate, veritatis blanditiis ipsam nam fugit accusamus 
                delectus illo maiores nobis labore consequatur cumque dolore.
                Esse sapiente adipisci sequi.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptas error tempora ipsum doloremque, quam amet accusamus,
                inventore illo dolores saepe fugiat neque exercitationem at adipisci
                sapiente quibusdam nisi et numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore qui consequatur necessitatibus doloremque, voluptas praesentium dicta ea ullam ex asperiores, consectetur magnam cupiditate, libero accusantium aliquid reiciendis. Sapiente, dolores.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Vel exercitationem eius ratione corrupti libero officia eligendi 
                obcaecati odio nulla iure ea magni nostrum natus sint aperiam est, 
                animi incidunt impedit?
            </p>
        </div>
        <div class="main-text">
            <h2>Doctors patient</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae sequi, nesciunt illo asperiores voluptatem quaerat, 
                porro velit magnam, excepturi quisquam corrupti sunt qui repellat. 
                Aliquam ratione sint deleniti commodi vitae.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quisquam eligendi numquam accusamus nam ipsum dignissimos a soluta
                voluptas eveniet, reprehenderit quod aspernatur iste. 
                Excepturi, dolore ab minus iusto nulla officiis!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                In officia eos placeat quos dignissimos possimus fugiat magnam minima
                et quam atque voluptas distinctio consequatur cupiditate,
                minus dolores molestias tempora dicta?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                odit. A voluptate, veritatis blanditiis ipsam nam fugit accusamus 
                delectus illo maiores nobis labore consequatur cumque dolore.
                Esse sapiente adipisci sequi.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptas error tempora ipsum doloremque, quam amet accusamus,
                inventore illo dolores saepe fugiat neque exercitationem at adipisci
                sapiente quibusdam nisi et numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore qui consequatur necessitatibus doloremque, voluptas praesentium dicta ea ullam ex asperiores, consectetur magnam cupiditate, libero accusantium aliquid reiciendis. Sapiente, dolores.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Vel exercitationem eius ratione corrupti libero officia eligendi 
                obcaecati odio nulla iure ea magni nostrum natus sint aperiam est, 
                animi incidunt impedit?
            </p>
        </div>
        <div class="main-text">
            <h2>Doctors patient</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae sequi, nesciunt illo asperiores voluptatem quaerat, 
                porro velit magnam, excepturi quisquam corrupti sunt qui repellat. 
                Aliquam ratione sint deleniti commodi vitae.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quisquam eligendi numquam accusamus nam ipsum dignissimos a soluta
                voluptas eveniet, reprehenderit quod aspernatur iste. 
                Excepturi, dolore ab minus iusto nulla officiis!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                In officia eos placeat quos dignissimos possimus fugiat magnam minima
                et quam atque voluptas distinctio consequatur cupiditate,
                minus dolores molestias tempora dicta?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                odit. A voluptate, veritatis blanditiis ipsam nam fugit accusamus 
                delectus illo maiores nobis labore consequatur cumque dolore.
                Esse sapiente adipisci sequi.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptas error tempora ipsum doloremque, quam amet accusamus,
                inventore illo dolores saepe fugiat neque exercitationem at adipisci
                sapiente quibusdam nisi et numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore qui consequatur necessitatibus doloremque, voluptas praesentium dicta ea ullam ex asperiores, consectetur magnam cupiditate, libero accusantium aliquid reiciendis. Sapiente, dolores.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Vel exercitationem eius ratione corrupti libero officia eligendi 
                obcaecati odio nulla iure ea magni nostrum natus sint aperiam est, 
                animi incidunt impedit?
            </p>
        </div>
    </main>
        <div class="contact-form">
            <form action="">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
                <input type="tel" placeholder="phone">
                <textarea placeholder="Ask anything:" rows="5" cols="33" id=""></textarea>
                <input type="submit" value="send" >
            </form>
        </div>
    </main>

    <footer>
        <p>© 2025 Medical systems</p>
        <a href="{% url 'accounts:privacy_policy' %}">Privacy Policy</a>
    </footer> 
{% endblock content %}